<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidyalankar.letstalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsTalk">

<!--            android:name=".activities.Binaural1Activity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_binaural1"-->
<!--            android:theme="@style/Theme.LetsTalk.NoActionBar" />-->

<!--            android:name=".activities.ChatActivity"-->
<!--            android:exported="false" />-->


            <activity
                android:name=".activities.Binaural1Activity"
        android:exported="false"/>
        <activity
                android:name=".activities.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>